    @model ChooseSeatsViewModel

    <link rel="stylesheet" href="~/css/seat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

    <div class="container">
        <form id="seatSelectionForm" method="post">
            <input type="hidden" id="FlightId" value="@Model.FlightId" />
            <div class="row">
                @foreach (var seat in Model.Seats) {
                    <div class="col-md-6 seat-container @(seat.IsOccupied ? "seat-occupied" : "")">
                        <input type="radio" name="SelectedSeat" value="@seat.SeatId"
                               id="seat-@seat.SeatNumber" class="seat-radio" hidden
                               @(seat.IsOccupied ? "disabled" : "") />
                        <label for="seat-@seat.SeatNumber" class="seat-label">
                            <img src="~/img/seat.png" alt="Seat" class="seat-icon" />
                            @seat.SeatNumber
                        </label>
                        @if (seat.IsOccupied) {
                            <span class="text-danger">(Dolu)</span>
                        }
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary">Koltuk Seç</button>
        </form>
    </div>
    
    
    
    <script src="~/js/seat.js" asp-append-version="true"></script>
